<h1><%= @todo.title %></h1>
<p><%= @todo.description %></p>
<p>Status: <%= @todo.completed ? 'Completed' : 'Incomplete' %></p>

<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back to List', todos_path %>
